apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pg-vol-claim
  namespace: pg
spec:
  resources:
    requests:
      storage: 1Gi
  accessModes:
    - ReadWriteOnce
    - ReadOnlyMany
  storageClassName: ""